
.table{
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;

}
.delete-party{
    background-color: rgb(255 210 210);;
    cursor: pointer;
}

.edit-party{
    background-color: rgb(224 220 167);
    cursor: pointer;
}

.container{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background-color: white;
    padding: 12px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(100vh - 160px);
}

.table-container{
    width: 100%;
    overflow: auto;
    height: 50%;
}

.banner{
    font-size: 28px;
}

.logout{
    display: flex;
    justify-content: end;
    position: relative;
    color: black;
    font-size: medium;
    font-weight: bold;
}

.text-logout{
    color: black;
    font-size: medium;
    font-weight: bold;
}

.table-container{
    width: 100%;
}

.text-button{
    font-weight: bold;
}