<div class="login-container">
    <div class="login-form">
      <h2>Login</h2>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" id="username" name="username" required>
          <mat-error class="error-mat" *ngIf="loginForm.get('username')?.hasError('required')  && loginForm.get('username')?.touched"> Username is required</mat-error>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" id="password" name="password" required>
          <mat-error class="error-mat" *ngIf="loginForm.get('password')?.hasError('required')  && loginForm.get('password')?.touched"> Password is required</mat-error>
        </div>
        <button type="submit" (click)="onLogin()">Login</button>
      </form>
    </div>
</div>